@font-face {
    font-family: montserrat;
    src: url('./fonts/montserrat/Montserrat-Light.otf');
}

@font-face {
    font-family: montserrat-bold;
    src: url('./fonts/montserrat/Montserrat-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: montserrat-light;
    src: url('./fonts/montserrat/Montserrat-Light.otf');
    font-weight: light;
}

@font-face {
    font-family: montserrat-lighter;
    src: url('./fonts/montserrat/Montserrat-Thin.otf');
    font-weight: lighter;
}

@font-face {
    font-family: montserrat-extra-bold;
    src: url('./fonts/montserrat/Montserrat-ExtraBold.otf');
    font-weight: bolder;
}

@font-face {
    font-family: Lato2OFL;
    src: url('./fonts/Lato2OFL/Lato-Regular.ttf');
}

* {
    font-family: montserrat;
    scroll-behavior: smooth;
    perspective: 1px;
}

.container {
    position: relative;
}

.row {
    clear: both;
    padding: 0; 
    margin: 0;
}

.col-12 {
    margin: 0;
    padding: 0;
}

.navigation {
    color: white; 
    width: 100vw; 
    position: fixed; 
    top: 0; 
    left: 0;
    padding: 10px 20px 10px 20px;
}

.navigation > div {
    display: inline-block;
    margin-left: 5vw;
}

.main-nav {
    display: inline-block; 
    text-align: right; 
    width: calc(65% - 100px);
}

.main-nav__items {
    margin: 0; 
    padding: 0; 
    list-style: none;
}

.main-nav__item {
    display: inline-block; 
    margin: 0 30px;
}

.navigation__moving {
    background-color: rgb(24, 38, 82);
    z-index: 1000;
}

header {
    width: 100vw;
    background: rgb(19, 40, 79);
    overflow: hidden;
    position: relative;
}

.banner-img {
    object-fit: cover;
    width: 100%;
    opacity: 0.75;
}

.header__info {
    color: white;
    font-family: montserrat;
    font-weight: lighter;
}

.header__info__container {
    display: inline-block; 
    vertical-align: middle;
}

.header__info__title {
    font-size: 12px;
}

.header__info__desc {
    font-size: 0.7rem;
}

.header__text {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
}

.header__text__top {
    color: rgb(0, 154, 255);
    font-weight: lighter;
}

.header__text__bottom {
    color: white;
}

.header__text p {
    font-family: Georgia;
    color: white;
}

.our-job {
    position: relative;
    margin-bottom: 180px;
}

.our-job__block {
    background-color: rgb(243, 243, 243);
}

.our-job > img {
    width: 100%; 
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}

.our-job__text {
    color: #909090; 
    font-size: 0.7rem;
}

.our-job__list > img {
    padding: 5px 10px;
}

.our-job__item {
    display: inline-block; 
    font-size: 0.75rem; 
    color: #909090;
}

.our-job__button {
    color: white; 
    padding: 5px 18px; 
    background-color: rgb(0, 110, 220); 
    margin-left: 42px;
}

.parallax {
    background-image: url("./assets/images/triangles-background.png");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about-us {
    position: absolute; 
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.center-column {
    margin-top: auto; 
    margin-bottom: auto;
}

.center-column > img {
    width: 100%; 
    max-width: 100%;
}

.about-us__title {
    display: inline-block; 
    font-size: 1.3rem; 
    vertical-align: middle; 
    padding-left: 7px;
}

.services__background {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

.services__title {
    font-weight: bold;

}

.services__title > img {
    border-top: 3px solid rgb(0, 110, 220); padding: 10px 10px 10px;
}

.services__row p {
    color: #909090;
    font-size: 0.7rem;
}

.services__row b {
    font-size: 0.9rem;
}

.newsletter__parallax {
    background-image: url("./assets/images/NEWSLETTER.png");
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    opacity: 0.8;
}

.newsletter__mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 60, 126, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.newsletter__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.newsletter__title h3 {
    font-weight: bolder;
}

.newsletter__title p {
    font-weight: lighter;
}

.newsletter__title input {
    padding: 5px 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    z-index: 40;
    /* width: 600px; */
}

.newsletter__input:focus {
    background-color: transparent;
    color: white;
}

::placeholder .newsletter__input { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.newsletter__button {
    padding: 0 8px; 
    background-color: rgb(0, 123, 221);
}

.contact__text {
    font-size: 1rem;
}

.contact__data {
    font-size: 1rem;
}

.footer__services ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__services ul li:before {
    content: url('./assets/icons/bullet.svg');
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.footer__image {
    width: 100%;
}

.first__image {
    display: block;
}

.services__background {
    display: block;
}

@media only screen and (max-width: 1020px) {
    .services__background {
        display: none;
    }
}

@media only screen and (max-width: 470px) {
    .footer__image {
        max-width: 20%;

    }

    .first__image {
        display: none;
    }
}